html,body{
    width: 100%;
    height: 100%;
    background: #cccccc;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li,ol,ul{
    list-style: none;
}

.el-select .el-input__inner{
  line-height: 32px;
  height: 32px;
}